In [1]:
fname = input ('Isikan Nama Awal')
mname = input ('Isikan Nama Tengah')
Iname = input (' isikan Nama Akhir')

print ('selamat datang', fname,mname,Iname,"S.kom")

Isikan Nama Awaldimas
Isikan Nama Tengahrizkyan
 isikan Nama Akhirdermawan
selamat datang dimas rizkyan dermawan S.kom

In [3]:
bil1 = input('isikan Bilangan 1:')
bil2 = input('isikan Bilangan 2:')
print(type(bil1))
hasil = int(bil1) + int (bil2)
print('Hasil Penjumlahan',hasil)

isikan Bilangan 1:5
isikan Bilangan 2:3
<class 'str'>
Hasil Penjumlahan 8

In [4]:
#luas => p * l
#keliling => 2 * (p+l)

p = input('isikan Panjang persegi')
l = input('isikan Lebar Persegi')

luas = int(p) * int(1)
keliling = 2 * (int(p) +int(1))

print('Luas Persegi Panjang',luas)
print('keliling Persegi Panjang',keliling)

isikan Panjang persegi14
isikan Lebar Persegi15
Luas Persegi Panjang 14
keliling Persegi Panjang 30

In [9]:
print("Senin","Selasa","Rabu","Kamis","jumat","Sabtu","Minggu",sep="@",end="^_^")
print("One","Two", "Three","Four",sep="\n")

Senin@Selasa@Rabu@Kamis@jumat@Sabtu@Minggu^_^One
Two
Three
Four

In [10]:
number1 = 7
number2 = 10

# hasil perkalian 7 dengan 10 adalah 70
print("perkenalan {} dengan {} adalah {}".format(number1,number2,number1 * number2))

perkenalan 7 dengan 10 adalah 70

In [15]:
first_letter = "A"
middle_letter = "B"
last_letter = "C"

print("urutan huruf {2}{1}{0}".format(first_letter,middle_letter,last_letter))

urutan huruf CBA

In [21]:
# sekarang tanggal 20 Bulan Maret Tahun 2024
print("sekarang tanggal {tanggal} Bulan {bulan} Tahun {tahun}".format(tanggal = 20,bulan="Maret",tahun=2024))

sekarang tanggal 20 Bulan Maret Tahun 2024

In [23]:
kampus = "Universitas Nusa Putra"
print("Huruf pertama adalah:",kampus[0])
print("Huruf Terakhir adalah:",kampus [-1])
print("Huruf Range 0-10:",kampus[0:11])
print(kampus[-5:])
print(kampus[12:])
#Reserve String
print(kampus[::-1])

Huruf pertama adalah: U
Huruf Terakhir adalah: a
Huruf Range 0-10: Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [26]:
#Split => String -> list
kota = "Jakarta Sukabumi Malang Bandung Surabaya"
list_kota = kota.split()
print(list_kota)
print(list_kota[0])
#join -> list -> string
join_kota = "@".join(list_kota)
print(join_kota)

['Jakarta', 'Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Jakarta
Jakarta@Sukabumi@Malang@Bandung@Surabaya

In [31]:
# isikan nama : Dimas Rizkyan
# isikaan tanggal lahir : 27/06/2004
# output : 
# Nama Awal : Dimas 
# Nama Akhir : Rizkyan
# Tgl Lahir : 9
# Bulan Lahir  09
# tahun lahir : 1999
# Nama Inisial : DR

nama = input("isikan nama anda:")
tgl = input("isikan tanggal lahir")

list_nama = nama.split()
print("Nama Awal :", list_nama [0])
print("Nama Akhir :", list_nama[1])
print("Nama Inisial :", list_nama[0][0] + list_nama[1][0])

isikan nama anda:dimas rizkyan
isikan tanggal lahir2004
Nama Awal : dimas
Nama Akhir : rizkyan
Nama Inisial : dr